<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Add Specialization</title>
</head>

<body>

<h2>Add Specialization</h2>


<form th:action="@{/specializations/save}" th:object="${specializations}" method="post">


    <label for="name">Specialization Name:</label>
    <input type="text" id="name" name="name" th:field="*{specializations}" required/>
    <button type="submit">Save Specialization</button>
</form>

<!-- Add your other content or links here -->

</body>

</html>
