<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add/Edit Clinic Schedule</title>
</head>

<body>

<h2>Add/Edit Clinic Schedule</h2>

<form th:object="${clinicSchedule}" th:action="${'/clinic-schedules/save'}" method="post">

    <input type="hidden" th:field="*{scheduleId}"/>

    <label>Doctor ID: </label>
    <input type="text" th:field="*{doctorId}" required/><br/>

    <label>Clinic ID: </label>
    <input type="text" th:field="*{clinicId}" required/><br/>

    <label>Date: </label>
    <input type="text" th:field="*{date}" required/><br/>

    <label>Start Time: </label>
    <input type="text" th:field="*{startTime}" required/><br/>

    <label>End Time: </label>
    <input type="text" th:field="*{endTime}" required/><br/>

    <label>Is Booked: </label>
    <input type="text" th:field="*{isBooked}" required/><br/>

    <!-- Add more input fields as needed -->

    <button type="submit">Save Clinic Schedule</button>

</form>

</body>

</html>
